.c-header {
	padding-top: 48px;
	padding-bottom: 48px;
	text-align: center;

	@media (min-width: $sm) {
		padding-top: 64px;
		padding-bottom: 64px;
	}

	@media (min-width: $md) {
		padding-top: 96px;
		padding-bottom: 96px;
	}

	@media (min-width: $lg) {
		padding-top: 128px;
		padding-bottom: 128px;
	}
}

.c-header__title {
	margin-top: 0;
	margin-bottom: 32px;
	font-size: 24px;
	font-weight: 300;

	@media (min-width: $sm) {
		margin-bottom: 48px;
		font-size: 32px;
	}

	@media (min-width: $md) {
		margin-bottom: 64px;
		font-size: 48px;
	}

	@media (min-width: $lg) {
		margin-bottom: 96px;
		font-size: 64px;
	}
}
