.c-header {
	padding-top: 24px;
	padding-bottom: 24px;
}

.c-header__title {
	margin-top: 0;
	margin-bottom: 0;
	@include font-size(24);

	@media (min-width: $sm) {
		@include font-size(36);
	}

	@media (min-width: $md) {
		@include font-size(48);
	}

	@media (min-width: $lg) {
		@include font-size(72);
	}
}
