.c-hero {
	min-height: 300px;
	margin-bottom: 0;
	padding-top: 56.25%;
	background-color: #2e2620;
	background-image: url(../../images/hero-sm.jpg);
	background-position: center center;
	background-size: cover;

	@media (min-width: $sm) {
		background-image: url(../../images/hero-md.jpg);
	}

	@media (min-width: $md) {
		background-image: url(../../images/hero-lg.jpg);
	}

	@media (min-width: 1200px) {
		height: 80vh;
		padding-top: 0;
	}
}

.c-hero--overlay {}

.c-hero__content {}

.c-hero__title {
	margin-top: 0;
	margin-bottom: 0;
}
