html {
	font-size: 100%;
	font-family: sans-serif;
	color: $color-black;

	// Makes the text sharper:
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

p {

}

a {

}

h1,
h2,
h3,
h4,
h5,
h6 {

}

h1 {

}

h2 {

}

h3 {

}

h4 {

}

h5 {

}

h6 {

}

